.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svgWrapper {
    border-radius: 10px;
    background: var(--foreground);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--text-primary);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
}
