.search {
    display: flex;
    align-items: center;
    gap: 11px;
}

.fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 7px;
}



.field {
    display: grid;
    grid-template-columns: 22px 1fr;
    align-items: center;
    gap: 8px;
    position: relative;
}

.destinationSearch {
    display: block;
    border-radius: 10px;
    background: var(--foreground);
    border: none;
    padding: 8px 16px;
    flex-grow: 1;
}

.destinationSearch::placeholder {
    color: var(--text-title-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.24px;
}

.inputClear {
    position: absolute;
    right: 10px;
}

.destinationOptions {
    margin-top: 16px;
}

.option {
    color: var(--icon-main);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.24px;
    display: grid;
    grid-template-columns: 22px 1fr;
    align-items: center;
    column-gap: 12px;
    width: 100%;
}

.optionName {
    margin: 0;
    padding: 10px 0;
    border-top: 0.2px solid var(--text-secondary);
    text-align: left;
}

.optionName:last-of-type {
    border-bottom: 0.2px solid var(--text-secondary);
}

.option path{
    fill: var(--icon-main);
}